  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  body
  {
    background-image: url("../assets/img/galaxy-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5%;
    perspective: 1000px;
  }

  .card-container
  {
    width: 50%;;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-app-container
  {
    width: 90%;;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-box
  {
    background-color: #fff;
    transform-style: preserve-3d;
    min-height: 100%;
    width: 100%;
    border-radius: 30px;
    padding: 5% 5%;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0 0 50px rgba(0, 0, 0, 0.2);
  }

  .card-app-box
  {
    background-color: #fff;
    transform-style: preserve-3d;
    min-height: 90%;
    width: 90%;
    border-radius: 30px;
    padding: 2% 2%;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0 0 50px rgba(0, 0, 0, 0.2);
  }

  .card-content h1
  {
    font-size: 3rem;
    padding: 1% 0;
    text-align: center;
    transition: all 0.75s ease-out;
  }

  .card-content h3
  {
    font-size: 1.3rem;
    text-align: center;
    padding: 2% 0;
    color: #585858;
    font-weight: lighter;
    transition: all 0.75s ease-out;
  }

  .card-content input, select
  {
    width: 100%;
    padding: 1rem 1rem;
    margin: 0.25rem 0rem;
    border: 2px solid #f1f1f1;
    border-radius: 40px;
    font-weight: lighter;
    transition: all 0.75s ease-out;
  }

  .card-content input:hover, select:hover
  {
    border: 2px solid #dadada;
    transition: all 0.75s ease-out;
  }

  .card-content input:focus, select:focus
  {
    background: #f1f1f1;
    transition: all 0.75s ease-out;
  }

  .card-content form
  {
    margin: 2% 0;
    transition: all 0.75s ease-out;
  }

  .circle
  {
    width: 15rem;
    height: 15rem;
    background: linear-gradient(
        to right,
        rgba(153, 0, 204, 0.75),
        rgba(190, 92, 237, 0.75)
    );
    position: absolute;
    border-radius: 50%;
    z-index: 1;
  }

  .monster
  {
    min-height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .monster img
  {
    width: 13rem;
    z-index: 2;
    transition: all 0.75s ease-out;
  }

  .button
  {
    margin: 1% 0;
    padding: 1rem 1rem;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 40px;
    font-weight: 800;
    text-transform: uppercase;
    transition: all 0.75s ease-out;
  }

  .button-block
  {
    display: block;
    width: 100%;
  }

  .button-link
  {
    text-decoration: none;
    transition: all 0.75s ease-out;
  }

  .button-link:hover
  {
    text-decoration: none;
  }

  .button-link-purple
  {
    text-decoration: none;
    color:#9900cc;
    transition: all 0.5s ease-out;
  }

  .button-link-purple:hover{
    color:#bf5ced;
    transition: all 0.5s ease-out;
  }

  .button-link-red
  {
    text-decoration: none;
    color:#ff0000;
    transition: all 0.5s ease-out;
  }

  .button-link-red:hover{
    color:#ff3d3d;
    transition: all 0.5s ease-out;
  }

  .button-link-gray
  {
    color: #000000;
    transition: all 0.5s ease-out;
  }

  .button-link-gray:hover
  {
    color: #585858;
    transition: all 0.5s ease-out;
  }

  .button-purple
  {
    background: #9900cc;
  }

  .button-purple:hover
  {
    background: #bf5ced;
  }

  .button-red
  {
    background: #ff0000;
  }

  .button-red:hover
  {
    background: #ff3d3d;
  }

  .button-gray
  {
    background: #000000;
  }

  .button-gray:hover
  {
    background: #585858;
  }

  .button-card
  {
    color: #000000;
    text-decoration: none;
    transition: all 0.5s ease-out;
  }

  .button-card:hover
  {
    color: #585858;
  }

  .button-menu
  {
    font-size: 1.5rem;
    text-decoration: none;
    padding: 0 0.5rem;
    color: #000000;
    transition: all 0.75s ease-in-out;
  }

  .button-menu:hover
  {
    color: #585858;
  }

  .buttons
  {
    margin-top: 1em;
  }

  .nav-bar
  {
    display: flex;
    position: relative;
    width: 100%;
    overflow: hidden;
    height: auto;
  }

  .nav-bar-left
  {
    flex: 1 1 200px;
  }

  .nav-bar-right
  {
    float: right;
  }

  .links
  {
    display: inline-block;
    text-align: center;
  }

  .table
  {
    border-collapse: collapse;
    width: 100%;
    word-wrap: break-word;
  }

  .table th, .table td
  {
    padding: .25rem .75rem;
  }

  .table td
  {
    border-top: 1px solid #f1f1f1;
  }

  .table-responsive
  {
    min-height: .01%;
    overflow-x: auto;
  }

  .table-button
  {
    color: #fff;
    border-radius: 50%;
    padding: .5rem .5rem;
  }

  .table-button-purple
  {
    background-color: #9900cc;
    transition: all 0.75s ease-in-out;
  }

  .table-button-purple:hover
  {
    background-color: #bf5ced;
  }

  .table-button-red
  {
    background-color: #ff0000;
    transition: all 0.75s ease-in-out;
  }

  .table-button-red:hover
  {
    background-color: #ff3d3d;
  }